<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @transport_type.name %>
</p>


<%= link_to 'Edit', edit_transport_type_path(@transport_type) %> |
<%= link_to 'Back', transport_types_path %>
