<div id= "travel_history">
  <h2>TRIP LIST</h2>
<% @travel_history_list.each do |t| %>
  <p><button type="button" class="btn btn-default"><%= t[1]%> On : <%=t[2].strftime("%d-%m-%Y %H:%M") %></button></p>
<% end %>
</div>
<div id="map" style="height: 150px">
</div>
<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
<script>
    var map = L.map('map').setView([12.96, 77.56], 13);
    L.tileLayer('http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png', {
      maxZoom: 18,
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
    }).addTo(map); 
  </script>