<h1> Welcome to Caputt</h1>
<p>Tracking public transport vehicles is merely impossible with very few buses having GPS trackers. Even then the information is in-accessible. We want to build a system where tracking is enabled by people, for people, a crowd sourced public transport tracking system.</p>

<h2>About</h2>

<p>Caputt is a community driven public transport tracking system. It is a great surprise that in todays world with advanced technologies we are unable to track public transport. So, we formed a team of enthusiasts who want to solve this problem. Our goal is to enable common man to contribute towards this project by simply tapping a button on his/her phone. </p>

<h2>How it works</h2>

<p>With smartphone penetration growing by day, most of us own one. All one needs to do is install our application (currently availble only for Android) and hit 'enable tracking'. Our app, using the phone's GPS will start reporting location of the vehicle (bus, rikshaw..etc) helping other people looking for the same vehicle. The more the number of people who start using this app more the number of vehicles get tracked. So, go ahead, tell your family & friends to install this app and grow the community!</p>