<div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-6">
            <h1>Ubiquity</h1>
           
          </div>
        </div>
      </div>
      <div class="row">
      	<div class="col-lg-6">
      		<img src="/assets/1676021-auto-rickshaw.jpg" height="60%" width="60%"/>   
      	</div>	
      	<div class="col-lg-6">
      		<img src="/assets/bus-clip-art-1.jpg" height="60%" width="60%"/>   
      	</div>	
      </div>
    <div class="row">
    	<div class="col-cg-12 center ">
    	 <h1>Ubiquity</h1>
    	</div> 
    </div>
</div>

